:root {
    --height-header: 20vh;
    --height-footer: 50vh;
    --height-aside: 90vh;
    --height-section: 1vh;
    --width-aside: 350px;

    /* --color-background: #272727; */
    --color-background: #081028;
    /* --color-background: #1b1b1b; */
    --color1: #006b96;
    --color2: #141414;
    --color3: #c7309a;
    --color4: #02020e;
}


body {
    font-family: Poppins, sans-serif;
    font-size: 10px;
    background-color: color-mix(in srgb, color percentage, color percentage);
}

.general_body {
    display: grid;
    grid-template-columns: var(--width-aside) auto;
    grid-template-areas: "body_aside body_section"
    ;
    /* min-height: 100vh; */
    background-color: var(--color-background);
}

.general_element {
    display: flex;
    align-items: center;
    justify-content: center;
}


section {
    /* background-color: var(--color3); */
    /* min-height: var(--height-section); */
    height: 100%;
    /* min-height: 60vh; */
    grid-area: body_section;
    padding: 20px;
    padding-block: 10px;
}


::-webkit-scrollbar {
    width: 3px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff6a;
    border-radius: var(--border-radius-size);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

#listaCursos {
    background-color: #00000064;
    min-height: var(--height-aside);
    grid-area: body_aside;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    overflow-y: scroll;
    height: 100%;
    width: var(--width-aside);
    color: white;
    justify-content: flex-start;
}

#listaCursos p {
    margin: 0;
}

/* #listaCursos div  , */
.ciclo,
.ciclo p,
.curso,
.curso p,
.grupos,
.grupo {
    border: 1px solid white;
    padding-inline: 20px;
    padding-block: 10px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.curso {
    gap: 5px;
    width: fit-content;
}

.nom_ciclo {
    color: var(--color2);
    width: 100%;
    /* height: fit-content; */
    /* width: fit-content; */
}


.nom_ciclo,
.nom_curso {
    background-color: white;
    font-weight: bold;
}

.ciclo {
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.curso,
.ciclo,
.grupos {
    border: 0;
    padding: 0;
}

.grupo {
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
    padding-block: 5px;
    justify-items: center;
    /* flex-direction: row; */
}

.grupo div {
    display: flex;
    align-items: center;
}

.nom_curso {
    padding-block: 5px !important;
}



#grid {
    display: grid;
    gap: 1px;
    color: white;
}

.cell {
    border: 1px solid #cccccc47;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: center;
    justify-content: center;
    /* padding: 5px; */
    border-radius: 5px;
    /* gap: 10px; */
}

.cell div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    /* border: 1px solid ; */
}

.cell:has(.block) {
    /* border: 1px solid rgba(255, 255, 255, 0.649); */
    border: 0px solid rgba(255, 255, 255, 0.649);
}

.cell_1 {
    background-color: color-mix(in srgb, var(--color-background) 90%, rgb(18, 18, 18) 95%);
}

.cell_2 {
    background-color: color-mix(in srgb, var(--color-background) 60%, rgb(255, 255, 255) 1%);
}

.cell_1, .cell_2 {
    filter: saturate(3.5);
    border: 1px solid #ffffff5a;
}

.cell_pasado {
    background-color: black;
}

.cell_actual {
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.cell_actual .actual {
    height: 100%;
    width: 100%;
    border: 0;
    position: absolute;
    inset: 0;
    /* top: 20px; */
    /* bottom: 0; */
    z-index: 90;
}

.cell.error {
    /* background-color: red */
  animation: parpadeo-rojo 1s infinite;

}

@keyframes parpadeo-rojo {
  0%, 100% {
    background-color: transparent;
    border: 1px solid rgb(255, 0, 0);
}
50% {
    border: 1px solid white;
    background-color: rgba(255, 21, 21, 0.976);
  }
}


#reload {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99999;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    font-size: 175%;
    border-radius: 100%;
    border: 0;
    background-color: #00c954;
    color: white;
}
